<?xml version="1.0"?>

<model>
  <name>qmul_metallic_frame</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Brice Denoun</name>
    <email>brice@shadowrobot.com</email>
  </author>

  <description>
    Simplified metallic frame which supports two UR5 arms at Queen Mary University of London.
  </description>
</model>
